<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Merged with the generated Info.plist. Launch screen in the colours of the app icon. -->
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<!-- Server mode for Strava (see server/strava-token-worker); empty = personal mode. -->
	<key>SymptoPageStravaClientID</key>
	<string>$(STRAVA_CLIENT_ID)</string>
	<key>SymptoPageStravaTokenURL</key>
	<string>$(STRAVA_TOKEN_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
